<h1>Bonjour, merci de confirmer votre email!</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant et en vous connectant:<br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    <br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne réception.
</p>
